* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: white;
  overflow-y: hidden;
}
main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  div#box {
    position: absolute;
    background-color: aqua;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  }
}
